@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
:root {
    --primary-color: #3b82f6;
    --secondary-color: #0369a1;
    --white-color: #f1f5f9;
    --smoke-color: #e5e7eb;
    --text-color-header:#262626;
    --text-color:#52525b;
    --white: #fff;

}
ul {
    list-style: none    ;
}
a {
    text-decoration: none;
    color: white;
}
svg {
    width: 22%;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: clamp(150px, 20%, 220px) 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
}
header {
    background-color: var(--white-color);
    grid-column: 2/-1;

}
.header {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.search {
    display: flex;
    align-items: center;
    gap: 5px;
}
.search input {
    width: 600px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    border: none;
}
.left {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    
}
header svg {
    width: 30px;
}
header img {
    width: 10%;
    border-radius: 50%;
}
nav {
    background-color: var(--white-color);
    grid-column: 2/-1;
    grid-row: 2/3;
    padding: 5px 0;
    box-shadow: 0px 5px 2px 3px rgba(0, 0, 0, 0.3);
}
nav .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}
.greeting {
    display: flex;
    flex-direction: column;
}
.name {
    font-weight: 900;
    font-size: 22px;
}
nav img {
    width: 12%;
    border-radius: 50%;
}
.buttons {
    flex: 1;
}
.buttons ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}
.button  {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
    width: 250px;
}



main {
    background-color: var(--smoke-color);
    grid-column: 2/-1;
}
.main-container {
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    width: 97%;
    margin: 10px auto;
}
h3 {
    margin-bottom: 10px;
}
.right-main {
    background-color: red;
}
.p-card {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    border-left: 10px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-icons {
    margin-top: auto;
    display: flex;  
    justify-content: flex-end;
    gap: 10px;
}
.project-icons svg {
    width: 10%;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}




.left-main {
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-left: 25px; */
}
.announcement-cards {
    background-color: var(--white);
    font-size: 0.8rem;
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
}
.card p {
    margin-bottom: 10px;
}
.card {
    border-bottom: 2px solid var(--text-color);
    margin-top: 15px;
}
.card:last-child {
    border: none;
}
.trend-cards {
    background-color: var(--white);
    font-size: 0.8rem;
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.trend-name {
    color: var(--text-color-header);
    font-weight: 500;
}
.trend-profile {
    display: flex;
    gap: 13px;
}
.trend-profile img {
    width: 18%;
    border-radius: 50%;
}
h4 {
    color: var(--text-color-header);
}


aside {
    background-color: var(--primary-color);
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    color: var(--white-color);
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    width: 220px;
}
svg {
    width: 22%;
}
.icons svg,
.settings svg {
    width: 17%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 900;
}
.icon, 
.setting {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
